body{
  background-color: #000000;
  font-family: "Poppins", sans-serif;
}

.heading{
  text-align: center;
  color: aliceblue;
}
.calculator {
  width: 400px;
  margin: 50px auto;
  border: 3px solid #000000;
  padding: 20px;
}

#display {

  background-color: black;
  color: #ccc;
  border-color: red;
  width: 95%;
  padding: 10px;
  text-align: right;

}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
  
  
}

button {
  padding: 10px;
  font-size: 18px;
  background-color: #000000;
  color: #ccc;
  border-color: #000265;
}

.operator {
  background-color: #000000;
  color: #ccc;
}

